$rdl-input-bg: #fff !default;
$rdl-input-border: #ccc !default;
$rdl-input-color: #555 !default;
$rdl-btn-color: #333 !default;
$rdl-line-height: 1.428571429;

.react-dual-listbox {
  display: flex;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  button,
  select {
    line-height: $rdl-line-height;
  }
}

.rdl-available,
.rdl-selected {
  display: flex;
  flex: 1 1 0;
  align-self: stretch;
}

.rdl-control-label {
  position: absolute;
  clip: rect(0 0 0 0);
}

.rdl-control {
  display: block;
  align-self: stretch;
  border: 1px solid $rdl-input-border;
  border-radius: 2px;
  padding: 8px 12px;
  width: 100%;
  color: $rdl-input-color;
  font-size: 14px;

  optgroup {
    font: inherit;
    font-weight: 700;
  }
}

.rdl-actions {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin: 0 10px;
}

.rdl-actions-right,
.rdl-actions-left {
  display: flex;
  flex-direction: column;
}

.rdl-actions-right {
  margin-bottom: 10px;
}

.rdl-move {
  margin-bottom: 5px;
  border: 1px solid $rdl-input-border;
  border-radius: 2px;
  background: $rdl-input-bg;
  cursor: pointer;
  padding: 5px 10px;
  color: $rdl-btn-color;
  font-size: 12px;

  &:active,
  &:focus {
    border-color: darken($rdl-input-border, 25%);
    background: darken($rdl-input-bg, 10%);
  }

  &:focus {
    outline: thin dotted;
    outline-offset: -2px;
  }

  &:hover {
    border-color: darken($rdl-input-border, 12%);
    background: darken($rdl-input-bg, 10%);
  }

  &:last-child {
    margin-bottom: 0;
  }

  // Decrease spacing between icons
  i {
    margin: 0 -1px;
  }
}
