{
  "extends": "takiyon-react",
  "env": {
    "node": true
  },
  "rules": {
    "react/require-default-props": ["error", {
      "forbidDefaultForRequired": true,
      "functions": "defaultArguments"
    }]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.test.js"
      }
    }
  }
}
