@rdl-input-bg: #fff;
@rdl-input-border: #ccc;
@rdl-input-color: #333;
@rdl-btn-color: #333;
@rdl-line-height: 1.428571429;

.react-dual-listbox {
  display: flex;
  align-items: center;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  button,
  select {
    line-height: @rdl-line-height;
    font-family: inherit;
  }
}

.rdl-available,
.rdl-selected {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  align-self: stretch;
}

.rdl-filter,
.rdl-control {
  display: block;
  border: 1px solid @rdl-input-border;
  border-radius: 2px;
  padding: 8px 12px;
  width: 100%;
  color: @rdl-input-color;
  font-size: 14px;
}

.rdl-filter {
  margin-bottom: 10px;
}

.rdl-control-label {
  position: absolute;
  clip: rect(0 0 0 0);
}

.rdl-control {
  flex: 1 0 auto;

  optgroup {
    font: inherit;
    font-weight: 700;
  }
}

.rdl-actions {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin: 0 10px;

  // Add search input height and margin
  .rdl-has-filter & {
    padding-top: 44px;
  }
}

.rdl-actions-right,
.rdl-actions-left {
  display: flex;
  flex-direction: column;
}

.rdl-actions-right {
  margin-bottom: 10px;
}

.rdl-move {
  margin-bottom: 5px;
  border: 1px solid @rdl-input-border;
  border-radius: 2px;
  background: @rdl-input-bg;
  cursor: pointer;
  padding: 5px 10px;
  color: @rdl-btn-color;
  font-size: 12px;

  &:active,
  &:focus {
    border-color: darken(@rdl-input-border, 25%);
    background: darken(@rdl-input-bg, 10%);
  }

  &:focus {
    outline: thin dotted;
    outline-offset: -2px;
  }

  &:hover {
    border-color: darken(@rdl-input-border, 12%);
    background: darken(@rdl-input-bg, 10%);
  }

  &:last-child {
    margin-bottom: 0;
  }

  // Decrease spacing between icons
  i {
    margin: 0 -1px;
  }
}
