name: Build
on:
  push:
  pull_request:
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [20, 22, 24]
    steps:
      -
        uses: actions/checkout@v4
      -
        name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      -
        name: Install dependencies
        run: yarn install
      -
        name: Run tests
        run: npm run release
